/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main-container {
  width: 100%;
  max-width: 1920px;
}
.main-container header {
  background-image: url(../img/top-image.jpg);
  background-blend-mode: color-dodge;
  background-color: #9f7e69;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /*  height: 85px; */
}
.main-container header .logo {
  background-image: url(../asset/logo_dark.png);
  background-repeat: no-repeat;
  width: 45%;
  min-width: 194px;
  height: 45px;
  display: block;
  margin: 12px 22px;
}
.main-container header .nav-bar {
  width: 630px;
  /* .toggle {
               display: none;
               text-align: right;
               width: 100%;
               display: block;
               i {
                  display: none;
                  margin-right: 22px;
               }
            } */
}
.main-container header .nav-bar ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 33px 27px;
}
.main-container header .nav-bar li a {
  text-decoration: none;
  color: #1e0c02;
  font-size: 1.5rem;
}
.main-container section.bgImg {
  background: linear-gradient(#d2bba0, #ffeee2);
  background-image: url(../img/blurred-background-close-up-crowd-1449791.jpg);
  background-size: cover;
  opacity: 0.7;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 750px;
}
.main-container section.bgImg .carousel {
  width: 80%;
  min-height: 500px;
  margin-top: 53px;
  margin: 0 auto;
}
.main-container section.bgImg .cta-button {
  width: 120px;
  border-radius: 8px;
  height: 45px;
  background: #933;
  margin: 45px auto 0 auto;
  cursor: pointer;
  padding: 12px 50px;
}
.main-container section.bgImg .cta-button h3 {
  font-size: 2rem;
  padding: 0 15px;
  color: #ffeee2;
}
.main-container .intro-container {
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  margin-top: 32px;
  width: 100%;
}
.main-container .intro-container p {
  margin: 0 auto;
  text-justify: justify;
  font-size: 1.2rem;
  line-height: 1.4em;
  padding: 0 44px;
  width: 50%;
}
.main-container .first-column h2,
.main-container .second-column h2,
.main-container .third-column h2 {
  margin: 22px 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.main-container h3.first-title,
.main-container h3.second-title,
.main-container h3.third-title {
  margin-left: 50px;
  padding-top: -188px;
  font-size: 1.4rem;
  font-weight: bold;
}
.main-container h3.first-title,
.main-container h3.second-title {
  padding: 45px 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.main-container .first-column,
.main-container .second-column,
.main-container .third-column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.main-container .first-column .card-content,
.main-container .second-column .card-content,
.main-container .third-column .card-content {
  width: 425px;
  height: 300px;
  background: #d2bba0;
  padding: 12px 14px;
  line-height: 1.5em;
}
.main-container .first-column .card-content h3,
.main-container .second-column .card-content h3,
.main-container .third-column .card-content h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.main-container .first-column .card-content .about-content h3,
.main-container .second-column .card-content .about-content h3,
.main-container .third-column .card-content .about-content h3 {
  padding-top: -62px;
  margin: 0;
}
.main-container .first-column .card-content img.icon,
.main-container .second-column .card-content img.icon,
.main-container .third-column .card-content img.icon,
.main-container .first-column .card-content img.conf,
.main-container .second-column .card-content img.conf,
.main-container .third-column .card-content img.conf {
  width: 115px;
  height: 85px;
  margin: -19px 0 0 275px;
}
.main-container .first-column .card-content img.trade,
.main-container .second-column .card-content img.trade,
.main-container .third-column .card-content img.trade {
  width: 115px;
  height: 115px;
  margin: -19px 0 0 275px;
}
.main-container .first-column .first-cards,
.main-container .second-column .first-cards,
.main-container .third-column .first-cards {
  position: relative;
}
.main-container .first-column .first-cards .icons,
.main-container .second-column .first-cards .icons,
.main-container .third-column .first-cards .icons {
  position: absolute;
  top: 111px;
  left: 312px;
}
.main-container .first-column .first-cards .fa-github-square,
.main-container .second-column .first-cards .fa-github-square,
.main-container .third-column .first-cards .fa-github-square,
.main-container .first-column .first-cards .fa-linkedin,
.main-container .second-column .first-cards .fa-linkedin,
.main-container .third-column .first-cards .fa-linkedin {
  font-size: 285%;
  color: blue;
  cursor: pointer;
}
.main-container .first-column .first-cards .fa-linkedin,
.main-container .second-column .first-cards .fa-linkedin,
.main-container .third-column .first-cards .fa-linkedin {
  top: 185px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: row; */
  /* flex-wrap: wrap; */
  width: 100%;
  margin-top: 85px;
  min-height: 450px;
  color: #1b0909;
  background: #d2bba0;
}
footer .imgFooter {
  width: 24%;
  height: 45px;
  margin-top: -333px;
}
footer .left-info,
footer .middle-info,
footer .right-info {
  margin-top: 20px;
  width: 24%;
  height: 400px;
}
footer .left-info h3,
footer .middle-info h3,
footer .right-info h3 {
  font-size: 1.3rem;
  margin: 22px 0 0 65px;
}
footer .left-info ul,
footer .middle-info ul,
footer .right-info ul {
  margin: 28px;
  font-size: 1.3rem;
  line-height: 1.9em;
  margin-left: 22px;
}
.cpyrght {
  font-size: 1.3rem;
  background: #933;
  width: 100%;
}
.cpyrght h3 {
  padding: 25px 35%;
  width: 25%;
  margin: 0 auto;
  color: #fff;
}
@media (min-width: 1000px) {
  .main-container {
    width: 100%;
  }
  .main-container .intro-container p {
    font-size: 1.3rem;
    margin-left: 25%;
    height: 270px;
  }
}
@media (max-width: 500px) {
  .main-container {
    width: 100%;
    /* h3 {
        font-size: @fonts1-4;
        font-weight: @bold;
        margin: 44px 0;
        padding-top: 2px;
     } */
  }
  .main-container header {
    height: 120px;
    position: relative;
    /*  .nav-bar {
            flex-direction: column;
            border: 1px solid #000;
            
            ul {
               flex-direction: column;
               position: absolute;
               top: 47px;
               left: 33px;
               padding: 0;
               width: 45%;
               li {
                  padding: 18px 81px;
                  text-align: right;
               }
            } 
         } */
  }
  .main-container header .nav-bar {
    display: block;
    flex: 1;
    flex-direction: row;
    z-index: 44;
    /* padding: 0 2%; */
    width: 95%;
    height: 47px;
    position: absolute;
    top: 58px;
    left: 2%;
    overflow: hidden;
  }
  .main-container header .nav-bar .toggle {
    display: none;
    cursor: pointer;
    /* margin: 0 5%; */
  }
  .main-container header .nav-bar ul {
    flex-direction: row;
    padding: 0;
  }
  .main-container header .nav-bar ul li {
    padding: 12px 11px;
    text-align: right;
  }
  .main-container header .nav-bar ul a {
    font-size: 1.1rem;
  }
  .main-container .cta-button {
    /* width: 120px;
         border-radius: 8px;
         height: @height-45;
         background: #ccc; */
    margin: 8px auto 0 auto;
    /* padding: 12px 50px; */
  }
  .main-container .cta-button h3 {
    font-size: 2rem;
    padding: 18px 20px;
    margin: 8px 0;
    color: #222;
  }
  .main-container .bgImg {
    width: 100%;
    background-image: url(../img/blurred-background-close-up-crowd-1449791.jpg);
    background-size: cover;
    background-position: 120% 85%;
    z-index: -22;
  }
  .main-container .intro-container {
    display: inherit;
  }
  .main-container .intro-container h3 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 22px 0 28px 27px;
    justify-content: inherit;
  }
  .main-container .intro-container p {
    padding: 0 27px;
    width: 88%;
  }
  .main-container .first-column,
  .main-container .second-column,
  .main-container .third-column {
    /*  display: flex;
         flex-wrap: wrap; */
  }
  .main-container .first-column h2:first-child,
  .main-container .second-column h2:first-child,
  .main-container .third-column h2:first-child {
    margin-top: -22px;
  }
  .main-container .first-column .first-cards h2,
  .main-container .second-column .first-cards h2,
  .main-container .third-column .first-cards h2,
  .main-container .first-column .second-cards h2,
  .main-container .second-column .second-cards h2,
  .main-container .third-column .second-cards h2,
  .main-container .first-column .third-cards h2,
  .main-container .second-column .third-cards h2,
  .main-container .third-column .third-cards h2 {
    margin: 22px 0;
  }
  .main-container .first-column .card-content,
  .main-container .second-column .card-content,
  .main-container .third-column .card-content {
    padding: 12px 14px;
  }
  .main-container .first-column .card-content h3,
  .main-container .second-column .card-content h3,
  .main-container .third-column .card-content h3 {
    margin-top: -8px;
  }
  .main-container .first-column .first-cards .fa-github-square,
  .main-container .second-column .first-cards .fa-github-square,
  .main-container .third-column .first-cards .fa-github-square,
  .main-container .first-column .first-cards .fa-linkedin,
  .main-container .second-column .first-cards .fa-linkedin,
  .main-container .third-column .first-cards .fa-linkedin {
    position: absolute;
    top: 101px;
  }
  .main-container .first-column .first-cards .fa-linkedin,
  .main-container .second-column .first-cards .fa-linkedin,
  .main-container .third-column .first-cards .fa-linkedin {
    position: absolute;
    top: 115px;
  }
  .main-container .third-column .be h2 {
    padding: 12px 0;
  }
  footer {
    /*  display: flex; */
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  footer .imgFooter {
    width: 24%;
    height: 45px;
    margin: 12px 55px 0 0;
  }
  footer .left-info,
  footer .middle-info,
  footer .right-info {
    width: 450px;
    height: 200px;
  }
  footer .right-info:last-child {
    margin-bottom: 22px;
  }
  footer .left-info h3,
  footer .middle-info h3,
  footer .right-info h3 {
    font-size: 1.2rem;
  }
  footer .left-info ul,
  footer .middle-info ul,
  footer .right-info ul {
    font-size: 1.1rem;
    line-height: 1.7em;
    padding-left: 63px;
  }
  .cpyrght {
    font-size: 1.1rem;
    width: 100%;
  }
  .cpyrght h3 {
    width: 145px;
  }
}
